@using Models
@model IEnumerable<Journal>

@{
    ViewData["Title"] = "Index";
}

<div class="container overflow-auto border rounded" style="height:80%">

    <div class="d-grid gap-2 d-md-flex">
        <h2>Journals</h2>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a asp-controller="Journal" asp-action="CreateJournal" class="btn btn-primary mb-1">Add Journal</a>
    </div>
            
    <table class="table table-light table-striped table-hover" style="widht:100%">
        <thead style = "position: sticky;top: 0;">
            <tr>
                <th>Date</th>
                <th>Journal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {
            <tr>
                <td width="5%">
                    @post.CreateDate
                </td>
                <td width="65%">
                    @post.Title
                </td>
                <td width="30%">
                    <div class="w-75 btn-group flex-wrap" role="group">
                        <a asp-controller="Journal" asp-action="Notes" asp-route-id="@post.IdJournal"
                        class="btn btn-outline-primary"> Notes</a>
                        
                        <a asp-controller="Journal" asp-action="DetailsJournal" asp-route-id="@post.IdJournal"
                        class="btn btn-outline-primary"> Details</a>
                    
                        <a asp-controller="Journal" asp-action="DeleteJournal" asp-route-id="@post.IdJournal"
                        class="btn btn-outline-primary"> Delete</a>
                    </div>
                </td>
            </tr>
            }    
        </tbody>
    </table>
</div>
