@using Models
@model IEnumerable<Journal>

@{
    ViewData["Title"] = "Index";
}

<div class="container h-80 border rounded">

    <div class="d-grid gap-2 d-md-flex">
        <h2>Journals</h2>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a asp-controller="Journal" asp-action="CreateJournal" class="btn btn-primary mb-1">Add Journal</a>
    </div>
            
    <table class="table table-light table-striped table-hover w-100">
        <thead class="sticky-top">
            <tr>
                <th>Date</th>
                <th>Journal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if(Enumerable.Any(Model))
            {
                @foreach (var post in Model)
                {
                    <tr>
                        <td class="w-20">
                            @post.CreateDate
                        </td>
                        <td class="w-50 text-break">
                            @post.Title
                        </td>
                        <td class="w-30">
                            <div class="w-75 btn-group flex-wrap" role="group">
                                <a asp-controller="Note" asp-action="GetOfJournal" asp-route-id="@post.IdJournal"
                                    class="btn btn-outline-primary"> Notes</a>
                            
                                <a asp-controller="Journal" asp-action="DetailsJournal" asp-route-id="@post.IdJournal"
                                    class="btn btn-outline-primary"> Details</a>
                        
                                <a asp-controller="Journal" asp-action="DeleteJournal" asp-route-id="@post.IdJournal"
                                    class="btn btn-outline-primary"> Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <h4>You don't have journals</h4>
            }
        </tbody>
    </table>
</div>
