@using Models
@model IEnumerable<Note>

@{
}


<div class="container overflow-auto border rounded" style="height:80%">

    <div class="d-grid gap-2 d-md-flex">
        <h2>Notes</h2>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a asp-controller="Journal" asp-action="AddNote" class="btn btn-primary mb-1">Add Note</a>
    </div>

<table class="table table-light table-striped table-hover" style="widht:100%">
    <thead style = "position: sticky;top: 0;">
        <tr>
            <th>Date</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var post in Model)
    {
        <tr>
            <td width="5%">
                @post.CreateDate
            </td>
            <td width="70%">
                @post.Title
            </td>
            <td width="25%">
                <div class="w-75 btn-group flex-wrap" role="group">
                    <a asp-controller="Journal" asp-action="ShowNote" asp-route-id="@post.IdNote"
                    class="btn btn-outline-primary"> View</a>

                    <a asp-controller="Journal" asp-action="EditNote" asp-route-id="@post.IdNote"
                    class="btn btn-outline-primary"> Edit</a>

                    <a asp-controller="Journal" asp-action="DeleteNote" asp-route-id="@post.IdNote"
                    class="btn btn-outline-primary"> Delete</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
</div>